doctype html 
html(style="background-color:black;color:white") 
body 
 nav(width="300px" )
   ul(style="list-style:none;background-color:yellow") 
    li(style="display:inline-block;padding-left:50px")
    a(href="/",style="text-decoration:none") HOME
    li(style="display:inline-block;padding-left:50px") 
    a(href="/contact",style="text-decoration:none") CONTACT
    li(style="display:inline-block;padding-left:50px") 
    a(href="/services",style="text-decoration:none") SERVICE

   
